@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

body{
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}